discord.py
discord
colorama
numpy
requests
aiohttp
bs4
discordwebhook
pymongo
selenium
pyPrivnote
datetime
gtts
dnspython
httpx
image
wave
playsound
config
pyautogui
wget
plyer
win10toast
beautifulsoup4
strawpy
lxml
psutil
pypresence
GitPython
Pillow
pyfiglet
tokage
wmi
pytz
PyGithub
giphypop
